

{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
  <h2 align="middle">collection List</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <a href="{% url 'collection-create' %}" align='right'>
      Add
  </a>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      
      </tr>
    </thead>
    <tbody id="myTable">
    {% for collection in collection_list %}
      <tr>
        <td>{{collection.pk}}</td>
        <td><a href="{% url 'collection-details' pk=collection.pk%}">{{collection.name}}</td>
       
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}